.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 20px;
}

.nav-logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav-user{
    position: fixed;
    right: 40px;
    width: 130px;
    align-items: center;
    justify-content: center;
}

.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}

.nav-username{
    font-weight: 500;
    align-items: center;
    justify-content: center;
}