body {
  background-color: black;
  color: white;
  margin: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  
}


